################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gokul/FileContentIndex/cb029774-cd71-4db8-a010-9415567096e7.vsidx
